<h1><%= Library.model_name.human %>情報</h1>
<div class="mt-3">
  <div class="col-md-12">
    <table class="table table-striped">
      <tbody>
        <tr>
          <td class="left-row"><%= t Library.human_attribute_name(:code) %></td>
          <td><%= @library.code %></td>
        </tr>
        <tr>
          <td class="left-row"><%= t Library.human_attribute_name(:key) %></td>
          <td><%= @library.key %></td>
        </tr>
        <tr>
          <td class="left-row"><%= t Library.human_attribute_name(:name) %></td>
          <td><%= @library.name %></td>
        </tr>
        <tr>
          <td class="left-row"><%= t Library.human_attribute_name(:url) %></td>
          <td><%= link_to @library.url %></td>
        </tr>
        <tr>
          <td class="left-row"><%= t Library.human_attribute_name(:address) %></td>
          <td><%= @library.address %></td>
        </tr>
        <tr>
          <td class="left-row"><%= t Library.human_attribute_name(:tel) %></td>
          <td><%= @library.tel %></td>
        </tr>
      </tbody>
    </table>
    <%= link_to '戻る', libraries_path, class: "btn btn-secondary" %>
  </div>
</div>
