<!DOCTYPE html>
<html>
  <head>
    <title>読書管理アプリ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <main class="col-12 mt-3 d-flex">
      <%= render '/shared/side_bar' %>
      <div class="col-10">
        <% if notice.present? %>
        <div class=" alert alert-success">
          <%= notice %>
        </div>
        <% end %>
        <%= yield %>
      </div>
    </main>
  </body>
</html>

